[Unit]
Description=A network monitor
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/local/bin/netmon /srv/netmon/static

[Install]
WantedBy=multi-user.target
