[Unit]
Description=Ping Graph, a network monitor
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/local/bin/ping_graph /srv/ping_graph/

[Install]
WantedBy=multi-user.target
